* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* Header Top Area */

.header-top-area {
  padding: 12px;
  background: #f5fbff;
}

.hcontainer {
  margin: 0px 5.5rem;
}

.allrow {
  display: flex;
  justify-content: space-between;
}

.rowl .socialicons a {
  font-size: 15px;
  color: #c7c7c7;
  margin-right: 12px;
}

.rowr a {
  text-decoration: none;
  color: #919191;
  margin-left: 50px;
  font-size: 14px;
}

.rowr i {
  margin-right: 11px;
  color: #5db2ff;
  font-size: 13px;
}

.rowl a:hover {
  color: #5db2ff;
  transition: all ease-in 0.22s;
}

/* Header Bottom Area */

#header-main {
  display: flex;
  padding: 18px;
  background-color: #fff;
  justify-content: space-between;
  position: sticky;
}

.lcontaint>ul {
  display: flex;
  list-style: none;
}

.lcontaint ul a {
  padding-right: 15px;
  text-decoration: none;
  color: #727272;
  font-size: 15px;
  font-weight: 560;
}

.lcontaint ul a:hover {
  color: #202127;
}

.lcontaint {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  padding: 0 68px;
  color: #009dff;
}

.headerbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 75px;
}

.headerbtn button {
  padding: 12px 26px;
  background-color: #009dff;
  border-radius: 2px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 550;
  color: #fff;
  cursor: pointer;
}

.headerbtn button a {
  text-decoration: none;
}

.headerbtn button:hover {
  background-color: #fff;
  color: #009dff;
  border: 1px solid #009dff;
}

/* Hero Section */

#hero-section {
  width: 100%;
  height: 643px;
}

#hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 780px;
  width: 100%;
  background: url("../img/bg.png") no-repeat center center / cover;
  z-index: -1;
  opacity: 0.89;
}

.hero-text {
  display: inline-block;
  margin: 130px 85px;
}

.hero-text h3 {
  font-size: 70px;
  font-weight: 300;
  color: #1f1f1f;
}

.hero-text h3>span {
  font-weight: 700;
}

.hero-text p {
  color: #727272;
  margin-top: 10px;
}

.box-btn2 {
  background: linear-gradient(to right, #0181f5 0%, #5db2ff 100%);
  padding: 18px 44px;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 550;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  margin-top: 38px;
}

.box-btn2:hover {
  background: #fff;
  color: #009dff;
  border: 1px solid #009dff;
  transition: all ease 0.5s;
}

/* Services Section */

#services-sec {
  background: #83c4ff;
  width: 100%;
}

.services-content i span {
  font-size: 52px;
  color: white;
}

.services-content h3 {
  font-size: 26px;
  color: #ffffff;
  margin-bottom: 5px;
}

.services-content p {
  font-size: 16px;
  margin: 10px 0px 25px;
  color: #ffffff;
  line-height: 28px;
}

.service-box-btn3 {
  padding: 9px 24px;
  font-size: 15px;
  font-weight: 530;
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.services-area {
  margin: 0px 104px;
}

.single-service {
  padding: 35px 30px;
}

.services-content {
  width: 380px;
  height: 331px;
}

.services-container {
  display: flex;
}

.services-container .services-content:nth-child(2) {
  background-color: #5db2ff;
}

.service-box-btn3:hover {
  background: white;
  color: #009dff;
  transition: all 0.5s ease;
}

/* Welcome Site Section */

#welcome-site-area {
  width: 100%;
  margin-top: 120px;
  margin-bottom: 220px;
}

.left-area {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.welcome-thumb .thumb-1 img {
  width: 68%;
}

.welcome-thumb .thumb-2 {
  position: absolute;
  bottom: -9px;
  right: -101px;
}

.welcome-thumb .thumb-2 img {
  width: 89%;
}

.welcome-container {
  padding: 0 15px;
  margin: 0 104px;
}

.right-area {
  padding-left: 165px;
}

.welcome-box-btn3 {
  padding: 9px 24px;
  font-size: 15px;
  font-weight: 530;
  /* background-color: transparent; */
  color: #5db2ff;
  border: 1px solid #5db2ff;
  border-radius: 4px;
  cursor: pointer;
}

.welcome-box-btn3:hover {
  color: white;
  background-color: #5db2ff;
  transition: all 0.5s ease;
}

.display-flex {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.right-area ul {
  margin-bottom: 40px;
  margin-top: 25px;
}

.right-area li {
  list-style: none;
  color: #727272;
  font-size: 16px;
  position: relative;
  line-height: 28px;
}

.right-area li i {
  margin-right: 10px;
  color: #5db2ffdb;
  position: absolute;
}

.right-area li i span {
  font-size: 23px;
}

.welcome-text h2 {
  margin: 0px 0px 40px;
  padding: 0px 0px 9px;
  font-size: 18px;
  color: #1f1f1f;
  font-weight: 400;
  padding-bottom: 9px;
  position: relative;
}

.welcome-text h2::before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background: #5db2ff;
}

.welcome-text h3 {
  font-weight: 600;
  font-size: 36px;
  margin: 0px 0px 13px;
  margin-bottom: 10px;
}

.welcome-text p {
  font-size: 16px;
  color: #727272;
  line-height: 28px;
}

.welcome-text .icon-text {
  margin-left: 32px;
}

/* Department Site Section */
#department-area {
  background-color: #e4f4ff;
  padding-top: 120px;
  padding-bottom: 90px;
}

.dep-title-area h3 {
  text-align: center;
  padding: 0px 0px 8px;
  margin: 0px 0px 15px;
  font-size: 36px;
  position: relative;
}

.dep-title-area h3::before {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 50px;
  transform: translateX(-50%);
  background: #5db2ff;
}

.dep-title-area p {
  font-size: 16px;
  color: #727272;
  text-align: center;
}

.dep-container {
  padding-right: 15px;
  padding-left: 15px;
}

.dep-flex {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dep-top-area {
  margin-bottom: 55px;
}

.dep-text {
  padding: 22px 30px 24px 30px;
}

.dep-text h3 {
  font-size: 22px;
  color: #1f1f1f;
}

.dep-text p {
  font-size: 16px;
  color: #727272;
  margin: 5px 0 10px;
}

.dep-text a {
  text-decoration: none;
  font-size: 16px;
  color: #5db2ff;
}

.dep-text a:hover {
  text-decoration: underline;
}

.single-content {
  background: #fff;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

/* Test Monial Section */

.test-monial-container {
  padding: 130px 0;
}

#test-monial-section {
  position: relative;
  background: url("../img/testmonial.jpg") no-repeat center center/cover;
  z-index: 0;
}

#test-monial-section::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: black;
  opacity: 0.3;
}

.t-content {
  text-align: center;
  color: white;
}

.t-content .t-icon span {
  font-size: 60px;
}

.t-content p {
  margin: 12px 0 47px;
  font-size: 20px;
}

.t-content h4 {
  margin: 0 0 8px;
  padding: 21px 0 0;
  position: relative;
}

.t-content h4::before {
  content: '';
  position: absolute;
  background: #ffffff;
  width: 60px;
  height: 2px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

/* Business Expert area */

#business-expert-area {
  margin-top: 34px;
  padding-bottom: 100px;
  background: #F5FBFF;
}

.b-nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.b-nav li {
  list-style: none;
}

.b-nav a {
  text-decoration: none;
  color: #1f1f1f;
  padding: 35px 0px 35px 40px;
  font-size: 20px;
  font-weight: 550;
}

.b-top-container {
  padding: 0 15px;
  margin: 0 104px;
}

.b-bottom-container {
  padding: 0 15px;
  margin: 0 104px;
}

.border-bottom {
  padding: 60px 0;
  border-bottom: 1px solid #E8E8E8;
}

.b-right-area,
.b-left-area {
  padding: 0 15px;
}

.b-left-area {
  padding: 15px 0;
  margin-top: 52px;
}

.b-left-area .business-info span {
  font-size: 55px;
  border: 9px solid #5db2ff;
  border-radius: 50%;
}

.business-info h3 {
  margin: 16px 0 14px;
  font-size: 20px;
  color: #1f1f1f;
}

.business-info p {
  font-size: 16px;
  color: #727272;
}

/* Expert Doctors Area */

#expert-doctors-area {
  padding: 120px 0;
}

.ed-title {
  margin-bottom: 55px;
  font-size: 36px;
}

.ed-title h3 {
  margin: 0 0 8px;
  font-size: 36px;
}

.expert-names {
  padding: 16px 0 18px;
  background-color: #F5FBFF;
  margin: 0 15px;
}

.expert-names h3 {
  text-align: center;
}

.expert-names p {
  text-align: center;
}

.expert-names h3 {
  font-size: 20px;
  color: #1f1f1f;
  margin: 0 0 1px;
}

.expert-names p {
  font-size: 13px;
  color: #919191;
}

.ed-bottom-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ed-container {
  margin: 0 104px;
}

.single-expert .expert-thumb img {
  padding: 0 15px;
}

/* Emergency Contact Section */

.ec-display-flex {
  display: flex;
}

.ec-left-area {
  padding: 91px 0;
  background-image: url("../img/emergrncythum.jpg");
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ec-right-area {
  padding: 91px 0;
  background-image: url("../img/emergrncythum2.jpg");
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ec-right-area::before {
  position: absolute;
  content: "";
  background-color: #5DB2FF;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

.ec-left-area::before {
  content: "";
  position: absolute;
  background-color: #5DB2FF;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

.ec-info h3 {
  color: white;
  margin: 0 0 8px;
  font-size: 20px;
}

.ec-info {
  margin: 0 30px 0 0;
}

.ec-info p {
  color: white;
  font-size: 13px;
}

.ec-info-btn button {
  padding: 9px 24px;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  background: transparent;
  cursor: pointer;
}

.ec-info-btn button:hover {
  background-color: white;
  color: #0181f5;
  transition: all ease 0.5s;
}

/* Footer Section */

.footer-top {
  padding: 145px 0 129px;
  background: #1f1f1f;
}

.f-display-flex {
  display: flex;
}

.social-links li {
  display: inline-block;
}

.social-links ul li a {
  font-size: 53px;
  color: #BABABA;
  padding: 0 7px 0 0;
}

.social-links ul li a:hover {
  color: #F5FBFF;
}

.f-logo {
  margin-bottom: 40px;
  font-size: 35px;
  color: white;
}

.first-area p {
  color: #c7c7c7;
  margin: 0 0 13px;
}

.first-area {
  width: 350px;
  height: 238px;
}

.f-container {
  padding: 0 15px;
  margin: 0 104px;
}

.second-area {
  margin: 0 0 0 95px;
  padding: 0 15px;
}

.f-title {
  color: white;
  margin: 0 0 40px;
  font-size: 22px;
}

.second-area ul li {
  list-style: none;
}

.second-area ul li a {
  text-decoration: none;
  line-height: 42px;
  font-size: 16px;
  color: #BABABA;
}

.second-area ul li a:hover {
  color: #009dff;
  transition: all ease 0.5s;
}

.third-area {
  padding: 0 15px;
}

.third-area ul li {
  list-style: none;
}

.third-area ul li a {
  text-decoration: none;
  line-height: 42px;
  font-size: 16px;
  color: #BABABA;
}

.third-area ul li a:hover {
  color: #009dff;
  transition: all ease 0.5s;
}

.add-area {
  padding: 0 15px;
}

.add-area p {
  color: #BABABA;
}

.copy-right-area {
  padding-bottom: 30px;
  background: black;
}

.copy-container {
  padding: 0 15px;
  margin: 0 104px;
}

.cr-text p {
  color: #919191;
  padding: 30px 0 0;
  text-align: center;
}


@media screen and (min-width:1400px) {
  .services-content {
    width: 100%;
  }

  .welcome-thumb .thumb-1 img {
    width: 364px;
  }

  .welcome-thumb .thumb-2 {
    bottom: -156px;
    right: -177px;
  }

  .left-area {
    width: auto;
  }

  .right-area {
    padding-left: 240px;
  }
}
